
@media only (min-width:400px) and (max-width:719px){
    


    body{
        background-color: #1c1c1c;
    }
    
    .titulo{
        display:grid;
        place-items: center;
        color: white;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
      }
      
      .item {
        padding: 10px;
    }
      
    header{
        border: 1px solid whitesmoke;
    
    }





}


@media (min-width: 720px) {
    
    body{
        background-color: #585958;
    }


    .titulo{
        display: grid;
        place-items: center;
    }







}


